<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>677303639754-meclknggnqc9t9v2v3rcthj7oi730ov3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.677303639754-meclknggnqc9t9v2v3rcthj7oi730ov3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>677303639754-pauvvq12oi1son6rjhr6f2kq337libpj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC8FiiMR6QSmSNDQFxzTSVcwnl7FpJER2U</string>
	<key>GCM_SENDER_ID</key>
	<string>677303639754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HudHudit.inSooqApplication</string>
	<key>PROJECT_ID</key>
	<string>insooq-application</string>
	<key>STORAGE_BUCKET</key>
	<string>insooq-application.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:677303639754:ios:efa0980ceadf1736061e33</string>
</dict>
</plist>